<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-rad-studio.ZPM">
    <Module>
      <Name>iris-rad-studio</Name>
      <Version>1.1.11</Version>
      <Description>IRIS RAD Studio it's a low-code solution that came to make the developer's life easier</Description>
      <Keywords>rad,crud,low-code,iris,docker</Keywords>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>dsw</Name>
          <Version>3.*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>AnalyzeThis</Name>
          <Version>1.*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>RESTFormsRAD</Name>
          <Version>1.*</Version>
        </ModuleReference>
      </Dependencies>
      <CSPApplication 
        CookiePath="/csp/rad/" 
        DefaultTimeout="900" 
        SourcePath="/src/csp" 
        DeployPath="${cspdir}/csp/${namespace}/" 
        MatchRoles=":{$dbrole}" 
        PasswordAuthEnabled="1" 
        Recurse="1" ServeFiles="1" 
        ServeFilesTimeout="3600" 
        UnauthenticatedEnabled="0" Url="/csp/rad" 
        UseSessionCookie="2"/>
      <CSPApplication 
        AuthenticationMethods="16416" 
        CookiePath="/irisrad/" 
        DispatchClass="dc.irisrad.rest.Main" 
        MatchRoles=":%All" 
        Recurse="1" 
        ServeFiles="1" 
        Url="/irisrad" 
        UseSessionCookie="1"/>    
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="App.PKG"/>
      <Resource Name="dc.irisrad.PKG"/>
      <Log Text="Installing RAD superuser" Level="0"></Log>
      <Invoke Class="dc.irisrad.data.RADUser" Method="CreateSuperUser"></Invoke>
      <Invoke Class="App.Installer" Method="EnableDelegatedAuth"></Invoke>
    </Module>
  </Document>
</Export>